<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">


    <xacro:include filename="$(find bam_descriptions)/urdf/ros2_control/moteus_macro.xacro"/>

    <xacro:macro name="arm_400_v1_ros2_control" params="prefix controllers_file_path ros_namespace transport_path plugin:=mock hand_type:=none">  

        <ros2_control name="${prefix}arm_interface" type="system">

            <hardware>

                <xacro:if value="${plugin == 'real'}">
                    <plugin>bam_hardware_interface/MoteusHardwareInterface</plugin>
                </xacro:if>

                <xacro:if value="${plugin == 'gazebo'}">
                    <plugin>gz_ros2_control/GazeboSimSystem</plugin>
                </xacro:if>

                <!-- fallback to mock if not real or gazebo -->
                <xacro:unless value="${(plugin == 'real') or (plugin == 'gazebo')}">
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="mock_sensor_commands">"true"</param>
                </xacro:unless>
                
                <param name="transport_path">${transport_path}</param>
                <param name="prefix">${prefix}</param>

                <!-- 
                
                 -->
                <param name="L_l1">${150/1000}</param>
                <param name="L_l2">${200/1000}</param>
                <param name="L_c1">${150/1000}</param>
                <param name="L_c2">${150/1000}</param>
                <param name="L_shoulder">${87/1000}</param>
                <param name="L_elbow">${75/1000}</param>
                <param name="theta_elbow_offset">${70/180 * pi}</param>

            </hardware>

            <!-- 
            In order to test subsets of robot joints you can use mock and virtual
            This is useful if you want to test for example just the shoulder, and don't have the other joints

            A virtual joint don't exist, and a CAN driver won't be made for it, it's starting positon will be zero or the "init_pos"
            Its states values won't be updated by the controller (as its not connected), but if you write a custom kinematic package, etc
            You can forward the value to it.

            (mock)disable joint does exist, but it won't recivie any commands, it will always just hold it's current position. it will report its
            state values though. This is helpful if you want to run the entire system, but want to disable motors, without having to recompile code, etc.
            
            It will accept commands and just send them back, as though its moving, but the actual motor will stay still

            init_pos are used in your mocking the hardware interface (so moteus_hardware_interface is not used), of if your are using the real interface
            and virtual is true.
            
             -->
            <xacro:moteus joint_name="${prefix}joint_1" can_id="11" init_pos="0"/>
            <xacro:moteus joint_name="${prefix}joint_2" can_id="12" init_pos="0"/>
            <xacro:moteus joint_name="${prefix}joint_3" init_pos="${-90/180 * pi}"/>
            <xacro:moteus joint_name="${prefix}joint_4" can_id="14" init_pos="0"/>
            <xacro:moteus joint_name="${prefix}joint_5" can_id="15" init_pos="0"/>
            <xacro:moteus joint_name="${prefix}joint_6" can_id="16" init_pos="0"/>

            <!-- <xacro:moteus joint_name="${prefix}joint_upper_arm_c1" can_id="13" init_pos="${89.4/180 * pi}"/> -->
            <!-- <xacro:moteus joint_name="${prefix}joint_upper_arm_c2" init_pos="${-114.2/180 * pi}" mock='true' virtual='true'/> -->

            <xacro:if value="${hand_type != 'none'}">
                <xacro:moteus joint_name="${prefix}eef_joint_1" can_id="17" init_pos="0" mock='true' virtual='true'/> 
            </xacro:if>
            <!-- std::vector<double> homed_position = {0,0,0,0.35,0,-0.35,0}; -->

        </ros2_control>

        <xacro:if value="${plugin == 'gazebo'}">
            <gazebo>
                <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                    <parameters>${controllers_file_path}</parameters>
                    <ros>
                        <namespace>${ros_namespace}</namespace>
                    </ros>
                </plugin>
            </gazebo>
        </xacro:if>
        
    </xacro:macro>

</robot>
