<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="crab_claw_v1">

    <!-- <xacro:arg name="bam_descriptions" default="$(env BAM_DESCRIPTIONS_PATH)"/> -->
    <xacro:arg name="bam_descriptions" default="$(find bam_descriptions)"/>

    <xacro:include filename="$(arg bam_descriptions)/urdf/common.xacro" />

    <xacro:arg name="plugin" default="none"/>  <!-- none, mock, gazebo, real -->
    <xacro:arg name="prefix" default=""/>
    <xacro:arg name="reflect" default="1"/>

    <xacro:arg name="world_xyz" default="0 0 0"/>
    <xacro:arg name="world_rpy" default="0 0 0"/>
    <xacro:arg name="base_xyz" default="0 0 0"/>
    <xacro:arg name="base_rpy" default="0 0 0"/>

    <xacro:arg name="disable_floating_tcp" default="false"/>


    <xacro:property name="plugin" value="$(arg plugin)" />
    <xacro:property name="reflect" value="$(arg reflect)" />    
    <xacro:property name="prefix" value="$(arg prefix)" />

    <xacro:property name="world_xyz" value="$(arg world_xyz)" />
    <xacro:property name="world_rpy" value="$(arg world_rpy)" />
    <xacro:property name="base_xyz" value="$(arg base_xyz)" />
    <xacro:property name="base_rpy" value="$(arg base_rpy)" />
    

    <xacro:if value="${plugin != 'none'}">
        <xacro:include filename="$(arg bam_descriptions)/urdf/hybrid_v1/crab_claw_v1.ros2_control.xacro"/>
        <xacro:gripper_v1_ros2_control prefix="${prefix}" plugin="${plugin}"/>
    </xacro:if>

    <link name="world"/>

    <joint name="world_to_base" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
    </joint>

   <link name="base_link"/>
    
    <joint name="base_link_joint" type="fixed">
        <origin xyz="${base_xyz}" rpy="${base_rpy}"/>
        <parent link="base_link"/>
        <child link="${prefix}eef_link_1"/>
    </joint>

    <xacro:include filename="$(arg bam_descriptions)/urdf/crab_claw_v1/crab_claw_v1_macro.xacro" />
    <xacro:crab_claw_v1 prefix="${prefix}" reflect="${reflect}" disable_floating_tcp="false"/>

</robot>
