<?xml version="1.0"?>
<!-- Config-based URDF xacro that instantiates arm_with_conveyor using a config file -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm_with_conveyor">

    <xacro:arg name="bam_descriptions" default="$(env BAM_DESCRIPTIONS_PATH)"/>
    <xacro:include filename="$(arg bam_descriptions)/urdf/common.xacro" />

    <!-- Single config file that contains all configuration -->
    <xacro:arg name="config_file" default="$(arg bam_descriptions)/urdf/arm_conveyor/config/arm_conveyor_sku_v0.0.0_config.yaml"/>
    <xacro:arg name="world_xyz" default="0 0 0"/>
    <xacro:arg name="world_rpy" default="0 0 0"/>
    <xacro:arg name="base_xyz" default="0 0 0"/>
    <xacro:arg name="base_rpy" default="0 0 0"/>

    <xacro:property name="config_file" value="$(arg config_file)"/>
    <xacro:property name="world_xyz" value="$(arg world_xyz)"/>
    <xacro:property name="world_rpy" value="$(arg world_rpy)"/>
    <xacro:property name="base_xyz" value="$(arg base_xyz)"/>
    <xacro:property name="base_rpy" value="$(arg base_rpy)"/>

    <!-- Attach to Gazebo World -->
    <link name="world"/>

    <joint name="world_to_base_link" type="fixed">
        <origin xyz="${world_xyz}" rpy="${world_rpy}"/>
        <parent link="world"/>
        <child link="base_link"/>
    </joint>

    <link name="base_link">
        <xacro:dummy_inertial/>
    </link>

    <!-- Load config to get the conveyor link name -->
    <xacro:property name="cfg" value="${xacro.load_yaml(config_file)}"/>
    
    <joint name="${cfg['info']['prefix']}base_link_to_conveyor" type="fixed">
        <origin xyz="${base_xyz}" rpy="${base_rpy}"/>
        <parent link="base_link"/>
        <child link="${cfg['conveyor_to_arm_link']}"/>
    </joint>
    
    <xacro:include filename="$(arg bam_descriptions)/urdf/arm_conveyor/arm_conveyor_macro.xacro"/>
    <xacro:make_arm_conveyor config_file="${config_file}"/>

</robot>
